<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddTask</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>
    <h1>Какое id у Task который вы хотите добавить?</h1>
<!--    <form th:method="POST" th:action="@{/index/executors/" th:object="${executor}" >>-->
<!--        <label for="taskId">Task Id</label>-->
<!--        <input type="number" th:field="*{task.id}" id="taskId">-->
<!--        <input type="submit" value="Add!"/>-->
<!--    </form>-->
    <label >Task Id</label>
    <input type="number" >
    <input type="submit" value="Ok!"/>
</body>
</html>