<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new Executor</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<div class="addtask">

  <h1>Add Executor</h1>
  <form th:method="POST" th:action="@{/index/executors}" th:object="${executor}" >

    <div class="descriptionform">
      <label for="name">Name</label>
      <input type="text" th:field="*{name}" id="name"></input>
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <div>
      <input type="submit" value="Create!"/> <input type="reset" value="Clear!"/>
    </div>

  </form>
</div>
</body>
</html>