<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="addtask">

    <h1>Update task</h1>
    <form th:method="POST" th:action="@{/index/tasks/update/{id}(id=${task.id})}" th:object="${task}" >
        <div class="descriptionform">
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" id="description"></input>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="statusform">
            <label for="status">Status</label>
            <select name="status" id="status">
                <option th:each="status : ${T(ru.springgb.sem8HWw.Task.Status).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>

        </div>

        <div>
            <input type="submit" value="Update"/> <input type="reset" value="Clear"/>
        </div>

    </form>
</div>
</body>
</html>